@import url(/css/reset.css);

@media screen and (max-width: 2560px) {
  header {
    width: auto;
    height: 768px;
  }
  #header_container {
    margin: 0px 350px;
  }
}
@media screen and (max-width: 1440px) {
  header {
    width: auto;
    height: 100vh;
  }
  #header_container {
    margin: 0px 55px;
  }
}
@media screen and (max-width: 768px) {
  #header_container {
    margin: 0px 50px;
  }
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/netflix_background_new.jpg);
  background-size: 100%;
}

#navbar {
  padding-top: 26px;
}

#navbar_logo {
  float: left;
}
#navbar_logo > img {
  width: 137px;
  height: 38px;
}
#navbar_select {
  float: right;
  background-color: black;
}
#lang_select_sm {
  margin-right: 35px;
  width: 90px;
  height: 35px;
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-color: black;
  color: white;
  border: 1px solid white;
  text-align: center;
}
#login_btn {
  width: 76px;
  height: 36px;
  color: white;
  background-color: red;
  border-radius: 4px;
}
#navbar_main {
  clear: both;
  display: flex;
  width: auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navbar_main h1,
h3,
p {
  color: white;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bolder;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.3em;
  margin-bottom: 30px;
  text-align: center;
}

#navbar_text_field {
  width: 700px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user_email {
  width: 480px;
  height: 60px;
  font-size: 1.1em;
  color: #46484c;
}
#start_submit {
  width: 165px;
  height: 65px;

  font-size: 1.6em;
  color: white;
  background-color: #f40712;
}

.horizontal_line {
  width: auto;
  height: 11px;
  background-color: #222222;
}
